{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: "poppins",sans-serif;
}
header{
	width:100%;
	height:50px;
	background:lightslategray;
	color: #fff;
	position: fixed;
	top:0;
	left:0;
}
h1{
	float:left;

}

#banner{
	margin-top:50px;
	position:relative;
}
#banner img{
	width:100%;
	height:100%;
}
#banner .contenedor{
	position:absolute;
	top:50%;
	left:50%;
	color:lightblue;
	transform:translateX(150px)translateY(-350px);
}

.menu a{
	display:inline-flex;
	color:#fff;
	height:15px;
	text-decoration:initial;
	padding:12px ;
	border:0px solid #fff;
}

.menu a:hover{
	background:lightseagreen;
}

#bienvenidos{
	padding:15px;
	text-transform:uppercase;
}
#Servicios{
	padding:50px;
}

#Servicios h3{
	text-align:center;
	color:palevioletred;
}
#Servicios h4{
	text-align:center;
	color: lightpink;
	font-family:"tahoma",sans-serif;
}

#Servicios .contenedor{
	display:flex;
	justify-content:center;
	flex:wrap;
}

#Servicios article{
	margin:1px;
}
#Servicios img{
	width:100%;
	max-width:500px;
}

#Productos{
	background:#0c1650;
	color:#fff;
	text-align:center;
	padding:30px;
}
#Productos h2{
	padding:15px;
	text-transform:uppercase;
}
#Productos .contenedor{
	display:flex;
	justify-content:center;
	flex:wrap;
}
.info-mascota{
	margin:60px;
}
.info-mascota img{
	width:100px;
	height:100px;
	border-radius:50%;
	border:7px solid #fff;
}

#Guarderia{
	background:pink;
	color:#fff;
	text-align:center;
	padding:30px;
}
#Guarderia h2{
	padding:15px;
	text-transform:uppercase;
}
#Guarderia .contenedor{
	display:flex;
	justify-content:center;
	flex:wrap;
}
.info-guarderia{
	margin:60px;
}
.info-guarderia img{
	width:100px;
	height:100px;
	border-radius:50%;
	border:7px solid #fff;
}

#Promociones{
	background:limegreen;
	color:#fff;
	text-align:center;
	padding:30px;
}
#Promociones h2{
	padding:15px;
	text-transform:uppercase;
}
#Promociones .contenedor{
	display:flex;
	justify-content:center;
	flex:wrap;
}
.info-promociones{
	margin:60px;
}
.info-promociones img{
	width:100px;
	height:100px;
	border-radius:50%;
	border:7px solid #fff;
}

#Ubicacion{
	background:deepskyblue;
	color:black;
	text-align:center;
	padding:50px;
}
#Ubicacion h2{
	font-size:25px;
	font-weight:bold;
	text-transform:uppercase;
}
#Ubicacion .contenedor{
	display:flex;
	padding:60px;
	flex-wrap:wrap;
	justify-content:center;
}
#Ubicacion .contenedor iframe{
	width:45%;
	border:10px solid black;
}
#Ubicacion .contenedorp{
	padding:40px;
	width:50%;
	text-align:left;
}

footer{
	background:orange;
}
footer .contenedor{
	display:felx;
	flex-wrap:wrap;
	justify-content:center;
	padding-bottom:30px;
	color:#fff;
}
.copy{
	font-size:20px;
	padding:20px;
}
.red-social{
	width:100%;
	text-align:center;
	font-size:30px;
}
.red-social a{
	color:#fff;
	text-decoration:none;
}